<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/transfer.css">
    <title>Document</title>
</head>
<body>
  <nav>
    <ul>
      <i class="fas fa-university"></i>
      <li><a class="nav-link" href="/">Home</a></li>
      <li><a class="nav-link " href="/userDetails">User Details</a></li>
      <!-- <li><a class="nav-link" href="/transfer">Transfer Money</a></li> -->
    </ul>
  </nav>
    <div class="container">
     
        <h1>Receiver Details</h1>
        <div class="table">
          <table>
            <thead>
              <th>ID</th>
              <th>Account Number</th>
              <th>Name</th>
              <th>Balance</th>
              <th>Send To</th>
            </thead>
            <% 
            for(let i of customers){ 
                if(i._id==id){continue}%> 
            <tr>
              <td><%=i.id%></td>
              <td><%=i._id%></td>
              <td><%=i.name%></td>
              <td><%=i.balance%></td>
             
              <td><button><a href="/userDetails/<%=id%>/transfer/<%=i._id%>">Receiver</a>  </button></td>
        
            </tr>
            
            <% } %> 
          </table>
        </div>
      </div>
</body>
</html>